* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: hsl(0, 0%, 0%);
}
body *{
  font-family: 'Montserrat', sans-serif
}

.container {
  width: min(120rem, 90%);
  margin: 0 auto;

  padding: 0 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem black;
}



h1 {
  padding: 2rem 0;
  text-align: center;
  color:#ffffff;
  font-size: clamp(1.4rem, 4vw + 1rem, 3.2rem);
}


.box-search {

  position: relative;
}

.get-id {
  display: none;
}
#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;

}

input[type="text"] {
  background-color: hsl(0, 0%, 15%);
  width: 55rem;
  color: #fff;
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: border-color 0.5s, box-shadow 0.2s;
  outline: none;

  
}
input[type="text"]:focus{
  border-color: hsl(0, 0%, 35%);
  box-shadow: 0px 0px 1rem 0.1rem hsl(217, 40%, 26%)
}

#button-search {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.8rem;
  color: white;
  background-color: hsl(0, 0%, 15%);
  border-radius: 2rem;
  border: none;
  cursor: pointer;


}
.fa-magnifying-glass:before, .fa-search:before {
  font-size: 1.8rem;
  display: block;
}



#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  gap: 0.5rem;
}

#movies:has(.card:hover) .card:not(:hover){
  opacity: 0.6;
  scale: 0.99;
}

.card {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 1rem 0.3rem rgb(0 0 0 / 30%);
  transition: box-shadow 0.5s, opacity 0.4s, scale 0.4s;
  cursor: pointer;

}
.card.width {
  max-width: 29rem;
}
.card.width .card-img{
  height: auto;
}

.card:hover{
  box-shadow: 0px 0px 10px 1px hsl(217, 40%, 26%);
}
.card-img {
  height: 27rem;
}
.card img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  object-position: top center;
 
}

.card-content {
  padding: 1rem 0;
}

.movie-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.movie-type{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: white;
  font-size: 1.2rem;
}
.movie-release {
  
  font-size: 1.3rem;
  color: #777777;
  font-weight: 700;
}


.expand-card {
  padding: 1rem;
  position: fixed;
  inset: 0;
  display: flex;
  background-color: #000000e6;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  transition-property: opacity, transform;
  transition: 0.2s ease-in-out;
  text-align: justify;
}

.expand-card.show {
  opacity: 1;
  visibility: visible; 
  transform: scale(1);

}


.filme-card {

  position: relative;
  width: min(40rem, 80vw);
  margin: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.filme-card img {
  opacity: 0.9;
  border-top-left-radius: 0.5rem;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.container-info {
  font-family: 'Ubuntu', sans-serif;
  padding: 2rem;
  background-color:hsl(0, 0%, 10%);
}

.filme-titulo {
  font-weight: 600;
  font-size: clamp(1.8rem, 3vw + 1rem, 3rem);
  margin-bottom: 1rem;
}

.filme-descricao {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 1.5rem auto 0.5rem;
}

.filme-descricao-span {
  color: hsl(0, 0%, 50%);
  
}
.filme-genero, .filme-lancamento {
  color: hsl(0, 0%, 50%);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;


}
.box-botoes {
  gap: 1rem;
  align-items: center;
  display: flex;
  background-color: hsl(0, 0%, 15%);
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.fa-heart {
  cursor: pointer;
  font-size: 3rem;

}
.fav-OFF::before {
  
  transition: color .3s ease;
}
.fav-OFF:hover::before{
  color: red;
}

.fav-ON::before {
  color: red;
  transition: color .3s ease;
}
.fav-ON:hover::before{

  color: red;
}



.fechar {
cursor: pointer;
transition: color .3s ease;
font-size: 3.5rem;

}
.fechar:hover {
  color: red;
}


@media (max-width:700px) {
  input[type="text"]{
    width: 75vw
  }
}

@media (max-width:505px) {
  .card-img {
    height: auto;
  }
  .card {
    width: 95%;
  }
}


