* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: hsl(0, 0%, 10%)
}
body *{
  font-family: 'Montserrat', sans-serif
}

.container {
  width: min(120rem, 90%);
  margin: 0 auto;
  background-color: hsl(0, 0%, 0%);
  padding: 0 2rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1rem black;
}



h1 {
  padding: 2rem 0;
  text-align: center;
  color:#ffffff;
  font-size: clamp(1.4rem, 4vw + 1rem, 3.2rem);
}


.box-search {

  position: relative;
}
#search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;

}

input[type="text"] {
  background-color: hsl(0, 0%, 15%);
  width: 55rem;
  color: #fff;
  padding: 1rem 5rem 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: border-color 0.5s, box-shadow 0.2s;
  outline: none;

  
}
input[type="text"]:focus{
  border-color: hsl(0, 0%, 35%);
  box-shadow: 0px 0px 1rem 0.1rem hsl(217, 40%, 26%)
}

#button-search {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
  padding: 0.8rem;
  color: white;
  background-color: hsl(0, 0%, 15%);
  border-radius: 2rem;
  border: none;
  cursor: pointer;


}
.fa-magnifying-glass:before, .fa-search:before {
  font-size: 1.8rem;
  display: block;
}



#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  gap: 0.5rem;
}

#movies:has(.card):hover .card:not(:hover){
  opacity: 0.9;
}

.card {
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 1rem 0.3rem rgb(0 0 0 / 30%);
  transition: box-shadow 0.5s, opacity 0.5s;
  cursor: pointer;

}
.card.width {
  max-width: 30rem;
}
.card.width .card-img{
  height: auto;
}

.card:hover{
  box-shadow: 0px 2px 1rem 0.3rem hsl(217, 40%, 26%);
}
.card-img {
  height: 27rem;
}
.card img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  object-position: top center;
 
}

.card-content {
  padding: 1rem 0;
}

.movie-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.movie-type{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: white;
  font-size: 1.2rem;
}
.movie-release {
  
  font-size: 1.3rem;
  color: #777777;
  font-weight: 700;
}

.movie-description {
  text-align: justify;
  max-height: 4rem;
  overflow: hidden;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.4s;
  cursor: pointer;

  margin: 1rem 0;
  font-size: clamp(1.2rem, 1vw + 1rem, 1.4rem);
  line-height: 1.5rem;

}

.movie-description.expand {
  max-height: none;
  opacity: 1;

}
@media (max-width:700px) {
  input[type="text"]{
    width: 75vw
  }
}

@media (max-width:505px) {
  .card-img {
    height: auto;
  }
  .card {
    width: 95%;
  }
}


